h1, h2{
    color: black;
    text-align: center;
}

#teams {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}  
#teams td, #teams th {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(100% / 4);
}
#teams tr:nth-child(even){background-color: #f2f2f2;}
#teams th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #30336b;
    color: white;
}



.div-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}


