@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  
h1, h2{
    color: black;
    text-align: center;
}

.logo{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#teams {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}  
#teams td, #teams th {
    border: 1px solid #ddd;
    padding: 10px;
}
#teams tr:nth-child(even){background-color: #f2f2f2;}
#teams th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    /* background-color: #04AA6D; */
    background-color: #2c0a57;
    color: white;
}


.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
}

.button-red {background-color: #f44336;}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}