<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Issue 3</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <a href="{% url 'index' %}"><img src="{% static 'nybb-logo.webp' %}" alt="NYBB Logo" class="logo"></a>
    <h1>Genetic Odyssey</h1>
    <h2>Issue 3</h2>
    
    {% if error_message %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>{{error_message}}</strong>
        </div>  
    {% endif %}

    <div class="score-board">
        <span>{{request.user}}</span>
        <span>Score: {{request.user.team.score}}</span>
    </div>

    <div class="clue">
        <div class="clue-1">
            Now that we know the disease is caused by mutations in the PAH gene, 
            resulting in Phenylalanine Hydroxylase deficiency, leading to the accumulation 
            of Phenylalanine in the body, we need to produce and supply it to the body. This will be 
            done using recombinant DNA technology, utilizing bacteria for the production process. 
            Bacteria can be found in the following location:
            <div><br>
                Location 1:<br>
                    With flag held high and book in hand,<br>
                    Two students brave take their stand.<br>
                    A symbol of hope, a nation's plea,<br>
                    What war memorial stands tall and free?<br>
            </div>
            <div>
                <br>
                You will find these bacteria in the location mentioned above:
                <a href="{% url 'b_ecoli' %}">Bacteria</a>
            </div>
            <div class="clue-2">
                <span>Hint: Unlock key is the word value of bacteria</span>
            </div>
        </div>
    </div><br>

    <form action="{% url 'quiz3' %}" method="post"> {% csrf_token %}
        <input type="text" name="UnlockKey" placeholder="Unlock Key"> 
        {% if request.user.team.quiz_3_status == False %}
            <button type="submit" class="button button-green">Submit</button>
        {% else %}
            <button type="submit" class="button button-black" disabled>Submit</button>
        {% endif %}
    </form>

    <div class="status">
        {% if request.user.team.quiz_3_status == False %}
            <span>Issue 3: Unsolved</span>
        {% else %}
            <span>Issue 3: Solved</span>
            <a href="{% url 'quiz4' %}" class="button button-green">Issue 4</a>
        {% endif %}
    </div>

    <footer><span>&copy; 2024 | </span> <span><a href="#">NYBB - SUST</a></span></footer>
</body>
</html>



